@use 'layout';
@use 'fonts';

.card {
  @include layout.flex(center, center, column);
  gap: 48px;
}

.imgWrapper {
  position: relative;
  min-width: 202px;
  height: 202px;
}

.img {
  object-fit: contain;
  z-index: 1;
}

.content {
  @include layout.flex(center, center, column);
  gap: 32px;
}

.title {
  @include fonts.small-heading-3;
  color: var(--color-dark-grey);
  text-transform: uppercase;
}
