@use 'fonts';
@use 'layout';
@use 'animations';

$transitionDelay: (
  '1': 200ms,
  '2': 400ms,
  '3': 600ms,
);

@each $number, $delay in $transitionDelay {
  .card:nth-child(#{$number}) {
    @media (--large) {
      transition-delay: $delay;
    }
  }
}

.card {
  @include layout.flex(center, center, column);
  @include animations.fade-right;
  gap: 48px;

  @media (--medium) {
    flex-direction: row;
  }

  @media (--large) {
    flex-direction: column;
  }
}

.visible {
  @include animations.fade-right-visible;
}

.imgWrapper {
  position: relative;
  min-width: 202px;
  height: 202px;
}

.img {
  object-fit: contain;
  z-index: 1;
}

.content {
  @include layout.flex(center, center, column);
  gap: 32px;

  @media (--medium) {
    align-items: flex-start;
    gap: 16px;
  }

  @media (--large) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.title {
  @include fonts.small-heading-3;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}

.text {
  @include fonts.medium-body;
  text-align: center;
  color: var(--color-dark-grey);

  @media (--medium) {
    text-align: left;
  }

  @media (--large) {
    text-align: center;
  }
}
