@use 'layout';

.section {
  @include layout.flex(center, center, column);
  position: relative;
  gap: 80px;
  @media (--medium) {
    gap: 32px;
  }

  @media (--large) {
    flex-direction: row;
    justify-content: space-between;
  }
}

$svgDirection: (
  '1': 0,
  '2': -90deg,
  '3': 90deg,
);

@each $number, $i in $svgDirection {
  .section div:nth-child(#{$number}) > div:first-child svg {
    transform: rotate($i);
  }
}
