@mixin btn-style($bg, $color, $bgHover, $colorHover) {
  color: $color;
  background-color: $bg;

  &:hover {
    color: $colorHover;
    background-color: $bgHover;
  }
}

%button {
  font-size: 15px;
  text-transform: uppercase;
  padding: 17px 26px;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 1px;
}

.btn {
  @extend %button;
  @include btn-style(
    var(--color-white),
    var(--color-black),
    var(--color-light-peach),
    var(--color-white)
  );
}

.btnDark {
  @extend %button;
  background-color: var();
}
