@use 'layout';
@use 'fonts';

@mixin nav-style($position, $visibility, $transition, $width, $opacity) {
  position: $position;
  visibility: $visibility;
  transition: $transition;
  width: $width;
  opacity: $opacity;
}

.nav {
  @include nav-style(absolute, hidden, opacity 0.3s ease-in-out, 0, 0);
  top: var(--header-height);
  left: 0;
  width: 0;
  z-index: 10;

  @media (--medium) {
    @include nav-style(static, visible, none, auto, 1);
  }

  &.open {
    width: 100%;
    visibility: visible;
    opacity: 1;

    .navInner {
      padding: 47px var(--page-padding-x);
    }
  }
}

.navInner {
  @include layout.flex(flex-start, space-between, column);
  background-color: var(--color-black);

  @media (--medium) {
    background-color: transparent;
    @include layout.flex(center, flex-end, row);
    gap: 43px;
    padding: 0;
  }

  a {
    @include fonts.navigation-small;
    color: var(--color-white);
    padding-top: 32px;
    text-transform: uppercase;

    @media (--medium) {
      @include fonts.navigation-medium;
      color: var(--color-black);
      padding-top: 0;
    }
  }

  a:first-child {
    padding-top: 0;
  }
}
