.section {
  display: grid;
  width: 100%;
  gap: 25px;

  @media (--large) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 24px;

    a:first-child {
      grid-row: 1 / 3;
    }
  }
}

.hasOneRow {
  @media (--large) {
    grid-template-rows: 1fr;
  }
}
