@mixin fade-up() {
  opacity: 0;
  filter: blur(1px);
  transform: translateY(100px);
  transition: all 1s ease-in-out;
  transition-property: filter, transform, opacity;
}

@mixin fade-up-visible() {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@mixin zoom-in() {
  transform: scale(0);
  filter: blur(5px);
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

@mixin zoom-in-visible {
  transform: scale(1);
  filter: blur(0);
}

@mixin fade-right() {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-40%);
  transition: all 0.4s ease-in-out;
  transition-property: filter, transform, opacity;
}

@mixin fade-right-visible() {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
